{% extends "base.html" %}
{% load tags %}

{% block content %}
<div class="container">
<div class="row-fluid">
<div class="span9">
<h1>Articles</h1>
{% for blog in blogs %}
<h2><a class="title" href="/detail/{{blog.id}}">{{ blog.title }}</a></h2>
<div class="date">{{blog.updated_at}}</div>
</article>
<p>{{ blog.content|summary|markdown:"codehilite"|safe}}</p>
{% endfor %}
</div>

    <div class="span2 ">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
            <li class="nav-header">Most Read</li>
                <li>
                    {%for post in most_reads_blog %}
                        <li><a class="title" href="/detail/{{post.id}}">{{ post.title }}</a></li>
                        <li>{{ post.updated_at }}</li>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>

</div>
</div>

{% endblock %}
