<html>
<body>
<header>
<div class="title">
  GNOSISULOV
</div>
</header>

<div id="document">
<div id="main">

<div id="articles">
<h2>Articles</h2>
<section>
<ol>
{% for blog in blogs %}
<li>
<article>
<header>
<a class="title" href="/detail/{{blog.id}}">{{ blog.title }}</a>
</header>
<div class="date">{{blog.updated_at}}</div>
</article>
<p>{{ blog.content|safe|linebreaks }}</p>
</li>
{% endfor %}
</ol>
</section>
</div>

<div id="category">
<section>
<ol>
</ol>
</section>
</div>

</div>
</div>

</body>
</html>
