{% extends "base.html" %}
{% load tags %}

{% block content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span7 offset1">
<h1>Articles</h1>

{% for blog in blogs %}

<div class="container">
<h2><a class="title" href="/detail/{{blog.id}}">{{ blog.title }}</a></h2>
<div class="date">{{blog.updated_at}}</div>
</article>
<p>{{ blog.content|summary|markdown:"codehilite"|safe}}</p>
</div>

{% endfor %}

</div>

    <div class="span2 ">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
            <li class="nav-header">THIS IS A CATEGORY</li>
            </ul>
        </div>
    </div>

</div>
</div>

{% endblock %}
